<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
  Splurty was built by <a target="_blank" href="http://github.com/CCrowRun">Carrie Crow</a>, a web developers on a mission to bring awareness to the absurd behaviors that could get you axed by a horror film villain
  </p>
  <br />
  <p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Carrie Crow</h2>
      <br />
      <p>
        Carrie Crow is a web developer with years of project management experience. Perhaps she has found this particular topic naturally, having been named after two prominant horror films.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<br />
<br />
<br />
<br />